################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PixelPlanets/v16/.suo
/bin/
/obj/
/packages/
